<div>
    <?php
    if ($block->getMessage() == null) {
        ?>
        <iframe id="notify-iframe"
                frameborder="0"
                src="<?php /* @noEscape */ echo $block->getNotifyUrl(); ?>/?shop=<?php
                /* @noEscape */ echo urlencode($block->getStoreUrl()); ?>&magento_shop_id=<?php
                /* @noEscape */ echo $block->getStoreId(); ?>&timestamp=<?php
                /* @noEscape */ echo $block->getTime(); ?>&hmac=<?php
                /* @noEscape */ echo hash_hmac('sha256', $block->getStoreUrl() . $block->getStoreId() .
                    $block->getTime(), $block->getKey()); ?>"
                width="100%"
                height="1px"
                onload="calcHeight();"
        >
        </iframe>
        <?php
    } else {
        ?>
        <h4><?php /* @noEscape */ echo $block->getMessage(); ?></h4>
        <?php
    }
    ?>
</div>

<script type="text/javascript">
        function calcHeight() {
                //find the height of the internal page
                document.getElementById('notify-iframe').contentWindow.postMessage("height", "<?php
                    /* @noEscape */ echo $block->getNotifyUrl(); ?>");
                // change the height of the iframe
                // document.getElementById('notify-iframe').height = the_height;
        }

        window.addEventListener('message', function (event) {
                if (event && event.data) {
                        document.getElementById('notify-iframe').height = event.data;
                }
        });
</script>
